@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
header {
    font-family: "Roboto Condensed", sans-serif;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

.brand {
    color: red
}

.brand area:before {
    position: absolute;
    background-color: red;
    width: 0%;
    height: 5px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}

.brand a:hover:before {
    width: 100%;
}

.brand:hover {
    color: red;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: red;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

header .navigation .active {
    position: fixed !important;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
}

section {
    padding: 5% 20%;
}

.mx-10 {
    padding: 5% 7.5% !important;
}

.py-10 {
    padding: 6% 5% !important;
}

.py-20 {
    padding: 12% 10% !important;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: royalblue;
}

.home .content {
    z-index: 99;
    color: white;
    width: 80%;
    margin-top: 1.5 em;
    display: none;
}

.home .content p {
    margin-bottom: 20%;
}

.home .content a {
    background-color: white;
    padding: 1rem 2rem;
    color: lightskyblue;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
}

.home .content-icons {
    z-index: 99;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    justify-content: center;
}

.home .content-icons a {
    color: white;
    font-size: 1.6em;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
}

.home .content-icons a:not(:last-child) {
    margin-bottom: 2rem;
}

.home .content-icons a:hover {
    transform: scale(1.2);
    color: red !important;
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home:before {
    z-index: 77;
    content: '';
    position: absolute;
    background: rgba(0, 122, 204, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slider-navigation {
    z-index: 88;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.5s ease;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.3);
}

.slider-navigation .nav-btn.active {
    background: #2696E9 !important;
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.home .content.active {
    display: block;
}

.arrow {
    z-index: 100;
    margin-left: 20px;
    align-items: center !important;
    justify-content: center!important;
    margin: -10px;
    transform: translateY(110px);
}

.arrow span {
    margin: auto;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    box-shadow: 2px 2px 0px 0px black;
    transform: rotate(45deg);
    animation: scroll1 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

.card {
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.5) !important;
    transition: 0.5s;
    border-radius: 0.5rem !important;
}

.card:hover {
    transform: scale(1.1);
}

i.fas {
    transition: 0.5s;
}

#kártyák i.fas {
    color: black !important;
}

#kártyák i.fas:hover {
    color: red !important;
}

div.poweredByPaid {
    display: none !important;
}

#m {
    width: 100%;
    height: auto;
}

i.fas:hover {
    color: red !important;
}

.hovereditem {
    transition: 0.5s;
}

.hovereditem:hover {
    transform: scale(1.2) !important;
}

div.content-click article span.h2 {
    font-size: 2.5rem !important;
}

div.content-click article span.fw-bold {
    font-size: 1.25rem !important;
}

div.content-click article span {
    font-size: 1rem;
}

.text-justify {
    text-align: justify !important;
}

div.paralax {
    background-image: url(../Images/city_4x.png);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/img3.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.button {
    border-radius: 3rem !important;
}

.icon {
    color: white;
    transition: 0.5s;
}

.icon:hover {
    color: red !important;
    transform: scale(1.2);
}

div.paralax2 span,
div.paralax2 .icon {
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

div.paralax2 h1 {
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.btn-shadow {
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.5) !important;
    transition: 0.5s;
}

.btn-shadow:hover {
    transform: scale(1.2);
}

.icon_black {
    color: black;
    transition: 0.5s;
}

.icon_black:hover {
    color: red !important;
    transform: scale(1.2);
}

.hovereditem_red {
    color: white;
    transition: 0.5s;
}

.hovereditem_red:hover {
    color: red !important;
}

div.paralax3 {
    background-image: url(../Images/img10.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax4 {
    background-image: url(../Images/img9.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax5 {
    background-image: url(../Images/img16.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax6 {
    background-image: url(../Images/img19.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax7 {
    background-image: url(../Images/img22.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax8 {
    background-image: url(../Images/img25.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax9 {
    background-image: url(../Images/img39.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax10 {
    background-image: url(../Images/img40.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax11 {
    background-image: url(../Images/img41.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax12 {
    background-image: url(../Images/img42.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax13 {
    background-image: url(../Images/img43.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax99 {
    background-image: url(../Images/nagynic1.jpg);
    min-height: 85%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax98 {
    background-image: url(../Images/nagynic2.jpg);
    min-height: 85%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax97 {
    background-image: url(../Images/img_busz.jpg);
    min-height: 85%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery {
    min-height: 100vh;
    background: #eee;
    padding-bottom: 100px;
}

.gallery .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.gallery .controls .buttons {
    height: 40px;
    width: 140px;
    background: #fff;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    text-align: center;
}

.gallery .controls .buttons.active {
    background: royalblue;
    color: #fff;
}

.gallery .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image {
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 15px solid #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.gallery .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img {
    transform: scale(1.4);
}

div.paralax14 {
    background-image: url(../Images/img44.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.paralax15 {
    background-image: url(../Images/img46.jpg);
    min-height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.built-with-calconic {
    display: none !important;
}

#arrow {
    display: none !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    /* overflow: hidden;*/
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    background-color: royalblue;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    z-index: 1;
}

.radius {
    border-radius: 15% !important;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.rounded {
    border-radius: 100% !important;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.5) !important;
}

.img-rounded {
    border-radius: 5% !important;
}

.btn-anime-in {
    animation-name: vibein;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes vibein {
    from {
        background-color: #2696E9;
    }
    to {
        background-color: #fff;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scroll1 {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media (min-width:1250px) {
    #arrow {
        display: flex !important;
    }
}

@media (max-width:768px) {
    .brand {
        font-size: calc(0.6rem + .9vw);
        margin-left: 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a {
        color: #222;
        margin: 20px;
        font-size: calc(1.600rem + .9vw) !important;
    }
    header .navigation .navigation-items a:before {
        background: red;
        height: 5px;
    }
    header .navigation.active .navigation-items {
        background: #fff;
        width: 40vh;
        max-width: 40vh;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    .menu-btn {
        background: url(../Images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        margin-right: 20px;
    }
    .menu-btn.active {
        z-index: 100;
        background: url(../Images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        margin-right: 20px;
    }
}

@media (min-width:772px) {
    div.paralax2 div span {
        font-size: 0.7rem !important;
    }
}

@media (min-width:980px) {
    div.paralax2 div span {
        font-size: 1rem !important;
    }
}

@media (min-width:1204px) {
    div.paralax2 div span {
        font-size: 1.25rem !important;
    }
}

@media (min-width:768px) {
    .brand {
        font-size: calc(0.7rem + .9vw);
    }
    .navigation-items a {
        font-size: calc(0.85rem + .3vw);
    }
    header {
        padding: 15px 100px;
    }
}

@media (min-width:1050px) {
    .brand {
        font-size: calc(0.85rem + .9vw);
    }
    .navigation-items a {
        font-size: calc(1rem + .3vw);
    }
    header {
        padding: 15px 125px;
    }
}

@media (min-width:1180px) {
    .brand {
        font-size: calc(1.075rem + .9vw);
    }
    .navigation-items a {
        font-size: calc(1.175rem + .3vw);
    }
    header {
        padding: 15px 150px;
    }
}

@media (min-width:1180px) {
    .navigation-items a {
        font-size: calc(1.150rem + .6vw);
    }
    .brand {
        font-size: calc(1.200rem + 1.5vw)
    }
    header {
        padding: 15px 200px;
    }
}

@media (min-width:1590px) {
    .card01 {
        height: 320px;
    }
}

@media (max-width:1590px) {
    .card01 {
        height: 320px;
    }
}

@media (max-width:1388px) {
    .card01 {
        height: 355px;
    }
}

@media (max-width:1166px) {
    .card01 {
        height: 365px;
    }
}

@media (max-width:1154px) {
    .card01 {
        height: 385px;
    }
}

@media (max-width:1139px) {
    .card01 {
        height: 415px;
    }
}

@media (max-width:1097px) {
    .card01 {
        height: 450px;
    }
}

@media (max-width:1088px) {
    .card01 {
        height: 475px;
    }
}

@media (max-width:1014px) {
    .card01 {
        height: 490px;
    }
}

@media (max-width:981px) {
    .card01 {
        height: 510px;
    }
}

@media (max-width:955px) {
    .card01 {
        height: 535px;
    }
}

@media (max-width:905px) {
    .card01 {
        height: 555px;
    }
}

@media (max-width:785px) {
    .card01 {
        height: 575px;
    }
}

@media (max-width:771px) {
    .card01 {
        height: 599px;
    }
}

@media (max-width:767px) {
    .card01 {
        height: 320px;
    }
}

@media (max-width:432px) {
    .card01 {
        height: 350px;
    }
}

@media (max-width:360px) {
    .card01 {
        height: 370px;
    }
}

@media (max-width:346px) {
    .card01 {
        height: 400px;
    }
}

@media (max-width:343px) {
    .card01 {
        height: 425px;
    }
}

@media (max-width:319px) {
    .card01 {
        height: 445px;
    }
}

@media (max-width:318px) {
    .card01 {
        height: 470px;
    }
}

@media (max-width:308px) {
    .card01 {
        height: 500px;
    }
}

@media (max-width:299px) {
    .card01 {
        height: 520px;
    }
}

@media (max-width:283px) {
    .card01 {
        height: 550px;
    }
}

@media (max-width:242px) {
    .card01 {
        height: 570px;
    }
}

@media (max-width:238px) {
    .card01 {
        height: 590px;
    }
}

@media (max-width:232px) {
    .card01 {
        height: 615px;
    }
}

@media (min-width:1600px) {
    .card02 {
        height: 900px;
    }
}

@media (max-width:1600px) {
    .card02 {
        height: 900px;
    }
}

@media (max-width:326px) {
    .card02 {
        height: 1000px;
    }
}


/*
@media (min-width:1464px) {
    .card03 {
        height: 300px;
    }
}
*/

@media (max-width:1464px) {
    .card03 {
        height: 300px;
    }
}

@media (max-width:484px) {
    .card03 {
        height: 325px;
    }
}

@media (max-width:397px) {
    .card03 {
        height: 340px;
    }
}

@media (max-width:378px) {
    .card03 {
        height: 365px;
    }
}

@media (max-width:371px) {
    .card03 {
        height: 385px;
    }
}

@media (max-width:318px) {
    .card03 {
        height: 400px;
    }
}

@media (max-width:317px) {
    .card-btn {
        font-size: 95%;
    }
}