@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
header {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .navigation .navigation-items a {
    transition: 0.5s ease;
    color: #000;
    position: relative;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #000;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}